.about {
  height: 653px;
}

.about__main {
  margin-top: 186px;
  height: 467px;
  background: linear-gradient(
    90.07deg,
    rgba(30, 42, 93, 0.04) 30.91%,
    rgba(48, 62, 130, 0.04) 64.79%,
    rgba(60, 80, 157, 0.04) 91.94%
  );
  display: flex;
  flex-direction: row;
}

.about__main__image {
  height: 100%;
  width: 384px;
  margin-left: 205px;
  margin-bottom: 1px;
}

.about__main__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__main__data {
  margin-left: 200px;
  margin-top: 107px;
  width: 447px;
  height: 254px;
}

.about__main__data__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 27px;
  color: #0e2368;
}

.about__main__data__description {
  margin-top: 27.41px;
  height: 138px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #444957;
  font-family: "Open Sans", sans-serif;
}

.about__main__data__read__more__button {
  font-family: "Source Sans Pro", sans-serif;
  width: 132px;
  height: 42px;
  background: #e23744;
  border-radius: 27px;
  margin-top: 21.59px;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.03em;
}

@media only screen and (max-width: 375px) {
  .about {
    height: auto;
  }

  .about__main {
    margin-top: 0;
  }

  .about__main__image {
    display: none;
  }

  .about__main__data {
    margin: 0;
    padding: 0;
  }

  .about__main__data__title {
    margin-top: 140px;
    margin-left: 127px;
    width: 120px;
    height: 35px;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
  }

  .about__main__data__description {
    margin-top: 21px;
    margin-left: 50px;
    color: #444957;
    font-family: "Open Sans", sans-serif;
    width: 275px;
    height: 138px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
  }

  .about__main__data__read__more__button {
    padding: 0;
    line-height: normal;
    margin-top: 16px;
    margin-left: 139px;
    width: 96px;
    height: 25px;
    font-size: 11px;
    letter-spacing: 0.03em;
    margin-bottom: 141px;
  }
}
