.carousel {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.carousel__title {
  margin-left: 108px;
  margin-bottom: 41px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 42px;
  letter-spacing: 0.04em;
  color: #0e2368;
}

.carousel__section {
  margin-left: 108px;
  margin-right: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__handler {
  margin-top: 71px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.carousel__handler__label {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #424961;
}

.carousel__handler__left,
.carousel__handler__right {
  border: 1px solid #424961;
  border-radius: 4px;
  font-weight: bolder;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .carousel {
    width: 100%;
  }

  .carousel__title {
    margin-top: 132px;
    margin-left: 0;
    font-family: "Poppins";
    font-size: 28px;
    line-height: 54px;
    height: 54px;
    text-align: center;
  }

  .carousel__section {
    flex-direction: column;
    margin-top: 23px;
    margin-left: 52px;
    margin-right: 52px;
  }
}
